// font Montserrat
$font-Montserrat: 'Montserrat', sans-serif;

// font Fraunces
$font-Fraunces: 'Fraunces', serif;

// font weights
$font-medium: 500; // Montserrat
$font-bold: 700; // Montserrat & Fraunces

