@use '../util' as u;

.footer { 
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start; 
    max-width: u.rem(345);
    margin-block: 10px;
    @include u.breakpoint(large) {
        width: u.rem(600);
        max-width: u.rem(600);
    }
    &__wrapper {
        margin-inline: auto;
    }
    
}

